<div id="wrapper" class="row" data-url="<%= dashboard_path(@dashboard)%>">
  <% if notice != nil %><div id="notice" class="col-md-12 bs-callout bs-callout-info"><%= notice %></div><% end %>
  <h1><%= @dashboard.title %></h1>
  <div id="action-bar">
    <div class="col-md-6">
      <a data-toggle="modal" href="#myModal">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span> Add widget
        </button>
      </a>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button type="button" id="sort_toggle" class="btn btn-warning">
        <span id="pin_sortable" class="glyphicon glyphicon-pushpin" style="display: none;"></span> Block widgets
      </button>
    </div>
  </div>
  <br />
  <hr />
  <ul id="sortable1" class="widget-list">
    <% @widgets1.each do |widget| %>
       <%= raw widget_box(widget) %>
    <% end %>
  </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render "widgets/form" %>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
